.result-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  a {
    text-decoration: none;
  }
}
.result-component {
  color: black;
  line-height: 2em;
  margin: 40px 0;
  padding: 40px;
  background-color: #e7e7e7;
}
